@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #ccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sofia: var(--font-sofia);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sofia), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

* {
  user-select: none;
}